<div class="section" style="width: 80%; margin: auto;">
<div class="columns">
    <div class="column">
        <app-profile-card></app-profile-card>
    </div>
    <div class="column">
        <app-profile-card></app-profile-card>
    </div>
    <div class="column">
        <app-profile-card></app-profile-card>
    </div>
    <div class="column">
        <app-profile-card></app-profile-card>
    </div>
    <div class="column">
        <app-profile-card></app-profile-card>
    </div>
</div>
<div class="columns">
    <div class="column">
        <app-profile-card></app-profile-card>
    </div>
    <div class="column">
        <app-profile-card></app-profile-card>
    </div>
    <div class="column">
        <app-profile-card></app-profile-card>
    </div>
    <div class="column">
        <app-profile-card></app-profile-card>
    </div>
    <div class="column">
        <app-profile-card></app-profile-card>
    </div>
</div>
<div class="columns">
    <div class="column">
        <app-profile-card></app-profile-card>
    </div>
    <div class="column">
        <app-profile-card></app-profile-card>
    </div>
    <div class="column">
        <app-profile-card></app-profile-card>
    </div>
    <div class="column">
        <app-profile-card></app-profile-card>
    </div>
    <div class="column">
        <app-profile-card></app-profile-card>
    </div>
</div>

</div>