<div class="section" style="width: 80%; margin: auto;">
    <div class="columns">
        <div *ngFor="let user of users; index as i" class="column is-one-third" >
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child notification" [ngClass]="colors[i%6]">
                        <p class="title">{{user.firstName}} {{user.lastName}}</p>
                        <p class="subtitle">{{user.subtitle}}</p>
                        <figure class="image is-4by3">
                            <img src="{{serverPath}}/image/photo/{{user.imageName}}">
                        </figure>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>