/* You can add global styles to this file, and also import other style files */
/* body {
  background-image: url("assets/image/cats-bg.png");
} */

body {
  /* background-color: #363636; */
  background: url("assets/image/bg.jpg") center;
  background-size: cover;
  
}

.border {
  border: 1px solid red;
}

.center {
  text-align: center;
}

.afu-select-btn {
  cursor: pointer;
}

.afu-constraints-info {
  margin-left: 20px;
}

.afu-valid-file {
  margin-left: 20px;
}

.afu-invalid-file {
  margin-left: 20px;
}

.afu-upload-status {
  margin-left: 20px;
}

.afu-attach-pin {
  margin-left: 20px;
}

.footer {
  background-color: black;
  color: aliceblue;
  padding: 1.5em;
  opacity: 1 ;
}
  
