/* tile zoom effect */

.tile-box  {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
}

.tile-box:hover  {
  transform: scale(1.05);
}


